# ignore object and library binaries
.out
*.o
*.a
main

# ignore lab-specific executables
convert
isort
twecho
mylist-test
mylist
revecho
mdb-cs3157
mdb-add-cs3157
mdb-lookup-cs3157
mdb-lookup
mdb-add
mymdb
funsies/ptr
funsies/testing

# ignore mailbox files and test submissions
*.mbox
/lab[0-9]-2015*

# ignore Vim and Emacs swap files
*.swp
*~
.project
# .DS_Store (apple)
